<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="pdfPath" value="C:\Office\Soujanya\VisualStudio\MH_DOCS\TAXINVOICE_organized.pdf"/>
		<add key="opPath" value="C:\Office\Soujanya\VisualStudio\MH_TAXINVOICE_PROCESS\MH_INVOICE_V1\OUTPUT\PdfSplitOutput"/>
		<add key="cpPath" value="C:\Office\Soujanya\VisualStudio\MH_TAXINVOICE_PROCESS\MH_INVOICE_V1\OUTPUT\PdfCompressedOutput"/>
		<add key="filePath" value="C:\Office\Soujanya\VisualStudio\MH_TAXINVOICE_PROCESS\MH_INVOICE_V1\OUTPUT\FiletoUpload\wi-476493_Compressed.pdf"/>
	</appSettings>
</configuration>